
<div *ngIf="capacityDetails">
    <h2><span jhiTranslate="pocketBApp.capacityDetails.detail.title">Capacity Details</span> {{capacityDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocketBApp.capacityDetails.description">Description</span></dt>
        <dd>
            <span>{{capacityDetails.description}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.capacityDetails.ammount">Ammount</span></dt>
        <dd>
            <span>{{capacityDetails.ammount}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.capacityDetails.retreatCapacity">Retreat Capacity</span></dt>
        <dd>
            <div *ngIf="capacityDetails.retreatCapacity">
                <a [routerLink]="['/retreat-capacity', capacityDetails.retreatCapacity?.id]">{{capacityDetails.retreatCapacity?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'capacity-details/'+ capacityDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
