<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientAccountLabel" jhiTranslate="pocketBApp.clientAccount.home.createOrEditLabel">Create or edit a Client Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientAccount.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="clientAccount.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.solde" for="field_solde">Solde</label>
            <input type="number" class="form-control" name="solde" id="field_solde"
                [(ngModel)]="clientAccount.solde" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.lastLocalDateCheck" for="field_lastLocalDateCheck">Last Local Date Check</label>
            <div class="input-group">
                <input id="field_lastLocalDateCheck" type="text" class="form-control" name="lastLocalDateCheck" ngbDatepicker  #lastLocalDateCheckDp="ngbDatepicker" [(ngModel)]="clientAccount.lastLocalDateCheck"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="lastLocalDateCheckDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="clientAccount.type" id="field_type" >
                <option value="CHECKING">{{'pocketBApp.AccountType.CHECKING' | translate}}</option>
                <option value="SAVINGS">{{'pocketBApp.AccountType.SAVINGS' | translate}}</option>
                <option value="CD">{{'pocketBApp.AccountType.CD' | translate}}</option>
                <option value="MONEY_MARKET">{{'pocketBApp.AccountType.MONEY_MARKET' | translate}}</option>
                <option value="IRAS">{{'pocketBApp.AccountType.IRAS' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.customer" for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="clientAccount.customer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id === clientAccount.customer?.id ? clientAccount.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.clientAccount.rib" for="field_rib">Rib</label>
            <select class="form-control" id="field_rib" name="rib" [(ngModel)]="clientAccount.rib">
                <option [ngValue]="null"></option>
                <option [ngValue]="rIBOption.id === clientAccount.rib?.id ? clientAccount.rib : rIBOption" *ngFor="let rIBOption of ribs; trackBy: trackRIBById">{{rIBOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
