
<div *ngIf="clientAccount">
    <h2><span jhiTranslate="pocketBApp.clientAccount.detail.title">Client Account</span> {{clientAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocketBApp.clientAccount.name">Name</span></dt>
        <dd>
            <span>{{clientAccount.name}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.clientAccount.solde">Solde</span></dt>
        <dd>
            <span>{{clientAccount.solde}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.clientAccount.lastLocalDateCheck">Last Local Date Check</span></dt>
        <dd>
            <span>{{clientAccount.lastLocalDateCheck | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.clientAccount.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'pocketBApp.AccountType.' + clientAccount.type}}">{{clientAccount.type}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.clientAccount.customer">Customer</span></dt>
        <dd>
            <div *ngIf="clientAccount.customer">
                <a [routerLink]="['/customer', clientAccount.customer?.id]">{{clientAccount.customer?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pocketBApp.clientAccount.rib">Rib</span></dt>
        <dd>
            <div *ngIf="clientAccount.rib">
                <a [routerLink]="['/rib', clientAccount.rib?.id]">{{clientAccount.rib?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client-account/'+ clientAccount.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
