
<div *ngIf="credit">
    <h2><span jhiTranslate="pocketBApp.credit.detail.title">Credit</span> {{credit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocketBApp.credit.capitalDue">Capital Due</span></dt>
        <dd>
            <span>{{credit.capitalDue}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.credit.dueAmount">Due Amount</span></dt>
        <dd>
            <span>{{credit.dueAmount}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.credit.duration">Duration</span></dt>
        <dd>
            <span>{{credit.duration}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.credit.endingLocalDate">Ending Local Date</span></dt>
        <dd>
            <span>{{credit.endingLocalDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.credit.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'pocketBApp.CreditType.' + credit.type}}">{{credit.type}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.credit.customer">Customer</span></dt>
        <dd>
            <div *ngIf="credit.customer">
                <a [routerLink]="['/customer', credit.customer?.id]">{{credit.customer?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'credit/'+ credit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
