<div>
    <h2>
        <span jhiTranslate="pocketBApp.credit.home.title">Credits</span>
        <button class="btn btn-primary float-right jh-create-entity create-credit" [routerLink]="['/', { outlets: { popup: ['credit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pocketBApp.credit.home.createLabel">
            Create new Credit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="credits">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pocketBApp.credit.capitalDue">Capital Due</span></th>
            <th><span jhiTranslate="pocketBApp.credit.dueAmount">Due Amount</span></th>
            <th><span jhiTranslate="pocketBApp.credit.duration">Duration</span></th>
            <th><span jhiTranslate="pocketBApp.credit.endingLocalDate">Ending Local Date</span></th>
            <th><span jhiTranslate="pocketBApp.credit.type">Type</span></th>
            <th><span jhiTranslate="pocketBApp.credit.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let credit of credits ;trackBy: trackId">
                <td><a [routerLink]="['../credit', credit.id ]">{{credit.id}}</a></td>
                <td>{{credit.capitalDue}}</td>
                <td>{{credit.dueAmount}}</td>
                <td>{{credit.duration}}</td>
                <td>{{credit.endingLocalDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'pocketBApp.CreditType.' + credit.type}}">{{credit.type}}</td>
                <td>
                    <div *ngIf="credit.customer">
                        <a [routerLink]="['../customer', credit.customer?.id ]" >{{credit.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../credit', credit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'credit/'+ credit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'credit/'+ credit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
