
<div *ngIf="card">
    <h2><span jhiTranslate="pocketBApp.card.detail.title">Card</span> {{card.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocketBApp.card.number">Number</span></dt>
        <dd>
            <span>{{card.number}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.mouthlyPaiementCapacity">Mouthly Paiement Capacity</span></dt>
        <dd>
            <span>{{card.mouthlyPaiementCapacity}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.engagedPaiment">Engaged Paiment</span></dt>
        <dd>
            <span>{{card.engagedPaiment}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'pocketBApp.CardStatus.' + card.status}}">{{card.status}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.contactLessStatus">Contact Less Status</span></dt>
        <dd>
            <span jhiTranslate="{{'pocketBApp.CardContactLessStatus.' + card.contactLessStatus}}">{{card.contactLessStatus}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.expiryLocalDate">Expiry Local Date</span></dt>
        <dd>
            <span>{{card.expiryLocalDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.accountDebited">Account Debited</span></dt>
        <dd>
            <div *ngIf="card.accountDebited">
                <a [routerLink]="['/client-account', card.accountDebited?.id]">{{card.accountDebited?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pocketBApp.card.retreatCapacity">Retreat Capacity</span></dt>
        <dd>
            <div *ngIf="card.retreatCapacity">
                <a [routerLink]="['/retreat-capacity', card.retreatCapacity?.id]">{{card.retreatCapacity?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
