<div>
    <h2>
        <span jhiTranslate="pocketBApp.card.home.title">Cards</span>
        <button class="btn btn-primary float-right jh-create-entity create-card" [routerLink]="['/', { outlets: { popup: ['card-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pocketBApp.card.home.createLabel">
            Create new Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pocketBApp.card.number">Number</span></th>
            <th><span jhiTranslate="pocketBApp.card.mouthlyPaiementCapacity">Mouthly Paiement Capacity</span></th>
            <th><span jhiTranslate="pocketBApp.card.engagedPaiment">Engaged Paiment</span></th>
            <th><span jhiTranslate="pocketBApp.card.status">Status</span></th>
            <th><span jhiTranslate="pocketBApp.card.contactLessStatus">Contact Less Status</span></th>
            <th><span jhiTranslate="pocketBApp.card.expiryLocalDate">Expiry Local Date</span></th>
            <th><span jhiTranslate="pocketBApp.card.accountDebited">Account Debited</span></th>
            <th><span jhiTranslate="pocketBApp.card.retreatCapacity">Retreat Capacity</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['../card', card.id ]">{{card.id}}</a></td>
                <td>{{card.number}}</td>
                <td>{{card.mouthlyPaiementCapacity}}</td>
                <td>{{card.engagedPaiment}}</td>
                <td jhiTranslate="{{'pocketBApp.CardStatus.' + card.status}}">{{card.status}}</td>
                <td jhiTranslate="{{'pocketBApp.CardContactLessStatus.' + card.contactLessStatus}}">{{card.contactLessStatus}}</td>
                <td>{{card.expiryLocalDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="card.accountDebited">
                        <a [routerLink]="['../client-account', card.accountDebited?.id ]" >{{card.accountDebited?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="card.retreatCapacity">
                        <a [routerLink]="['../retreat-capacity', card.retreatCapacity?.id ]" >{{card.retreatCapacity?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../card', card.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card/'+ card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
