
<div *ngIf="operation">
    <h2><span jhiTranslate="pocketBApp.operation.detail.title">Operation</span> {{operation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocketBApp.operation.ammount">Ammount</span></dt>
        <dd>
            <span>{{operation.ammount}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.operation.motif">Motif</span></dt>
        <dd>
            <span>{{operation.motif}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.operation.details">Details</span></dt>
        <dd>
            <span>{{operation.details}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.operation.date">Date</span></dt>
        <dd>
            <span>{{operation.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pocketBApp.operation.card">Card</span></dt>
        <dd>
            <div *ngIf="operation.card">
                <a [routerLink]="['/card', operation.card?.id]">{{operation.card?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
