<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOperationLabel" jhiTranslate="pocketBApp.operation.home.createOrEditLabel">Create or edit a Operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!operation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="operation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.operation.ammount" for="field_ammount">Ammount</label>
            <input type="number" class="form-control" name="ammount" id="field_ammount"
                [(ngModel)]="operation.ammount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.operation.motif" for="field_motif">Motif</label>
            <input type="text" class="form-control" name="motif" id="field_motif"
                [(ngModel)]="operation.motif" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.operation.details" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                [(ngModel)]="operation.details" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.operation.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="operation.date"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.operation.card" for="field_card">Card</label>
            <select class="form-control" id="field_card" name="card" [(ngModel)]="operation.card" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cardOption.id === operation.card?.id ? operation.card : cardOption" *ngFor="let cardOption of cards; trackBy: trackCardById">{{cardOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
