<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRIBLabel" jhiTranslate="pocketBApp.rIB.home.createOrEditLabel">Create or edit a RIB</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rIB.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rIB.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.rIB.iban" for="field_iban">Iban</label>
            <input type="text" class="form-control" name="iban" id="field_iban"
                [(ngModel)]="rIB.iban" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.rIB.bic" for="field_bic">Bic</label>
            <input type="text" class="form-control" name="bic" id="field_bic"
                [(ngModel)]="rIB.bic" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocketBApp.rIB.bankReference" for="field_bankReference">Bank Reference</label>
            <select class="form-control" id="field_bankReference" name="bankReference" [(ngModel)]="rIB.bankReference">
                <option [ngValue]="null"></option>
                <option [ngValue]="bankReferenceOption.id === rIB.bankReference?.id ? rIB.bankReference : bankReferenceOption" *ngFor="let bankReferenceOption of bankreferences; trackBy: trackBankReferenceById">{{bankReferenceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
